* {
    border: red solid 1px;
}
@font-face {
    font-family: museo;
    src: url(assets/fonts/museo/museo-300-webfont.ttf);
    }

body {
    background-image: url(assets/textures/fabric_plaid.png);
    font-family: museo;
    font-size: 1em;
    width: 93%;
    margin: auto;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-nav {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-nav {
    width: 8%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-links {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

.social-icons {
    width: 25px;
    border-radius: 5px;
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: gray;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 93%;
}

.gallery {
    width: 87%;
    border: white solid 10px;
}

.arrow-left, .arrow-right {
    width: 60px;
}